<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/signup">
      <div>
        username: <input type="text" id="username"/>
      </div>
      <div>
        password: <input type="password" id="password"/>
      </div>
      <div>
        password-repeat: <input type="password" id="password-repeat"/>
      </div>
      <input type="submit" id="submit"/>
    </form>
  </body>
</html>
